@import url('https://fonts.googleapis.com/css?family=Arimo|Lora|Ubuntu');

html, body{
  margin: 0;
}

body {
  background-color: #396A92;
}

.Welcome header {
  background: url(https://i.ytimg.com/vi/QQHDKF1rJYM/maxresdefault.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #ECEDF2;
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
  position: absolute;
  height: 90%;
}

.Welcome p {
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
  font-size: 20px;
  font-family: 'Arimo', sans-serif;
}

.Welcome h1 {
  margin-top: 100px;
  font-family: 'Ubuntu', sans-serif;
}

.Welcome .dashed-line {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 28%;
  border: 2px dashed #ECEDF2;
}

.Welcome .dotted-line {
  width: 35%;
  border: 2px dotted #ECEDF2;
}

.Welcome h4 {
  margin-top: 85px;
  font-family: 'Ubuntu', sans-serif;
}

.App {
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
}

nav {
  top: 0;
  padding: 30px;
  background-color: #091D42;
  border: 2px ridge #000;
  position: fixed;
  width: 99.9%;
}

nav a {
  text-decoration: none;
  padding-right: 30px;
  color: #ECEDF2;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  font-size: 20px;
  font-family: 'Lora', serif;
}

nav a:hover {
  color: #9AB4CB;
}

.forex h1 {
  margin-top: 120px;
  font-family: 'Ubuntu', sans-serif;
}

.forex-stats {
  text-align: center;
  border: 2px solid #ECEDF2;
  padding: 20px;
}

.forex-stats p {
  display: inline-block;
  padding-left: 5px;
  font-family: 'Arimo', serif;
}

.forex-stats h3 {
  display: inline-block;
  font-family: 'Arimo', sans-serif;
  font-weight: 800;
}

.crypto h1 {
  margin-top: 120px;
  font-family: 'Ubuntu', sans-serif;
}

.crypto-stats {
  text-align: center;
  border: 2px solid #ECEDF2;
  padding: 20px;
}

.crypto-stats p {
  display: inline-block;
  font-family: 'Arimo', sans-serif;
  padding-left: 5px;
}

.crypto span {
  font-family: 'Arimo', sans-serif;
}

.crypto-stats h3 {
  display: inline-block;
  font-family: 'Arimo', sans-serif;
}

.search {
  padding-bottom: 20px;
}

.search input {
  width: 200px;
  border-radius: 10px;
  margin-right: 20px;
}

button {
  padding: 8px;
  border-radius: 10px;
  border: 1px ridge #396A92;
  background-color: #9AB4CB;
  font-size: 14px;
  font-family: 'Lora', serif;
  width: 80px;
  box-shadow: 3px 3px 2px #000;
}

button:hover {
  cursor: pointer;
}

@media (max-width: 570px) {
  nav a {
    font-size: 7px;
  }

  .Welcome header {
    background: url(https://i.ytimg.com/vi/QQHDKF1rJYM/maxresdefault.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #ECEDF2;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
    position: absolute;
    height: 90%;
  }

  .Welcome h1 {
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
  }

  .Welcome h4 {
    margin-top: 40px;
    font-size: 14px;
    padding: 0px 10px;
  }

  .Welcome .dashed-line {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 35%;
  }

  .Welcome .dotted-line {
    width: 50%;
  }

  .Welcome p {
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
  
  .crypto h1 {
    font-size: 20px;
    margin-top: 40px;
  }

  .crypto h3 {
    font-size: 15px;
  }

  .crypto span {
    font-size: 14px;
  }

  .forex h1 {
    font-size: 25px;
    margin-top: 40px;
  }

  .forex h3 {
    font-size: 20px;
  }
  
  .search input {
    width: 100px;
    margin-right: 10px;
  }

  button {
    padding: 5px;
    font-size: 10px;
    width: 45px;
  }
}

@media (max-width: 640px) {
  nav a {
    font-size: 9px;
  }

  .Welcome h1 {
    margin-top: 60px;
  }

  .Welcome p {
    font-size: 14px;
    text-align: center;
  }

  .Welcome h4 {
    margin-top: 60px;
    font-size: 14px;
    padding: 0px 10px;
  }

  .crypto h1 {
    font-size: 22px;
  }

  .crypto h3 {
    font-size: 18px;
  }

  .crypto span {
    font-size: 16px;
  }

  .forex h1 {
    font-size: 26px;
  }

  .forex h3 {
    font-size: 18px;
  }

  .search input {
    width: 125px;
    margin-right: 10px;
  }

  button {
    padding: 5px;
    font-size: 10px;
    width: 45px;
  }
}

@media (max-width: 740px) {
  nav a {
    font-size: 11px;
  }

  .Welcome h1 {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 25px;
  }

  .Welcome .dashed-line {
    width: 45%;
  }

  .Welcome .dotted-line {
    width: 60%;
  }

  .Welcome h4 {
    margin-top: 70px;
    font-size: 16px;
  }

  .crypto h1 {
    font-size: 26px;
  }

  .crypto h3 {
    font-size: 22px;
  }

  .crypto span {
    font-size: 20px;
  }

  .forex h1 {
    font-size: 30px;
  }

  .forex h3 {
    font-size: 22px;
  }

  .search input {
    width: 140px;
    margin-right: 10px;
  }
}

@media (max-width: 1026px) {
  .Welcome h1 {
    margin-top: 90px;
    margin-bottom: 40px;
    font-size: 40px;
  }

  .Welcome .dashed-line {
    width: 55%;
  }

  .Welcome .dotted-line {
    width: 65%;
  }

  .Welcome h4 {
    margin-top: 70px;
    font-size: 24px;
  }

  .Welcome p {
    font-size: 22px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
  }


  .crypto h1 {
    font-size: 40px;
  }

  .crypto h3 {
    font-size: 32px;
  }

  .crypto span {
    font-size: 28px;
  }

  .forex h1 {
    font-size: 42px;
  }

  .forex h3 {
    font-size: 32px;
  }

  .forex-stats p {
    font-size: 26px;
  }

  .search input {
    width: 220px;
    margin-right: 10px;
    height: 25px;
    margin-right: 20px;
  }

  button {
    padding: 10px;
    font-size: 12px;
    width: 60px;
  }
}

@media (max-width: 1366px) {
  nav {
    padding-top: 42px;
    padding-bottom: 43px;
  }

  nav a {
    font-size: 30px;
  }

  .Welcome h1 {
    margin-top: 150px;
    margin-bottom: 60px;
    font-size: 60px;
  }

  .Welcome .dashed-line {
    width: 65%;
  }

  .Welcome .dotted-line {
    width: 75%;
  }

  .Welcome h4 {
    margin-top: 70px;
    font-size: 30px;
  }

  .Welcome p {
    font-size: 28px;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 100px;
  }

  .crypto h1 {
    font-size: 60px;
  }

  .crypto h3 {
    font-size: 42px;
  }

  .crypto span {
    font-size: 40px;
  }

  .crypto p {
    font-size: 35px;
  }

  .forex h1 {
    font-size: 60px;
  }

  .forex h3 {
    font-size: 42px;
  }

  .forex-stats p {
    font-size: 35px;
  }

  .search input {
    width: 300px;
    margin-right: 10px;
    height: 25px;
    margin-right: 30px;
  }

  button {
    padding: 12px;
    font-size: 14px;
    width: 75px;
  }
}